<div class="container">
  <h4>Translate: Hello World</h4>
  <div class="btn-group">
    <button *ngFor="let lang of supportedLangs"
      (click)="selectLang(lang.value)"
      class="btn btn-default" [class.btn-primary]="isCurrentLang(lang.value)">
      {{ lang.display }}
    </button>
  </div>
  <div style="margin-top: 20px">
    <p>
      Translate With Pipe: <strong>{{ 'hello world' | translate2 }}</strong>
    </p>
    <p>
      Translate with Service: <strong>{{ translatedText }}</strong>
    </p>
    <p>
      Translate <strong class="text-muted">Hello, %0 %1!</strong>:
      <br>
      <strong>{{ 'hello greet' | translate2:['Jane', 'Doe'] }}</strong>
    </p>
    <p>
      Translate <strong class="text-muted">Well done %0</strong>: 
      <br>
      <strong>{{ 'well done' | translate2:'John' }}</strong>
    </p>
    <p>
      Translate <strong class="text-muted">Good bye (fallback)</strong>: 
      <br>
      <strong>{{ 'good bye' | translate2 }}</strong>
    </p>
  </div>
</div>