<div class="container">
  <h1>Transclusion</h1>
  <card>

    <!-- basic transclusion (single slot) -->
    <div class="card-block">
      <h4 class="card-title">You can put any content here</h4>
      <p class="card-text">For example this line of text and</p>
      <a href="#" class="btn btn-primary">This button</a>
    </div>

    <!-- example 1: named tranclusion -->
    <!--<div class="card-block" card-body>
    Content 1
  </div> -->

    <!-- example 2: css class tranclusion -->
    <!-- <div class="card-block card-body">
    Content 2
  </div> -->

    <!-- example 3: multiple attribute -->
    <!-- <div class="card-block" card body>
    Content 3
  </div> -->

    <!-- example 3a: multiple css class -->
    <!-- <div class="card-block card body">
    Content 3a
  </div> -->

    <!-- example 4: attribute with value -->
    <!-- <div class="card-block" card-type="b">
    Content 4
  </div> -->

    <!-- example 5: html tag -->
    <!-- <card-body class="card-block">
    Content 5
  </card-body> -->

    <!-- example 6: multislot transclusion -->
    <!-- <card-header>
	  New <strong>header</strong>
	</card-header>
	
	<card-body>
	  <div class="card-block">
	      <h4 class="card-title">You can put any content here</h4>
	      <p class="card-text">For example this line of text and</p>
	      <a href="#" class="btn btn-primary">This button</a>
	    </div>
	</card-body>
	
	<card-footer>
	  New <strong>footer</strong>
	</card-footer> -->

  </card>
</div>